<div fxLayoutAlign="center center" fxFlexFill >
  <mat-card fxFlex="25">

    <form fxLayoutAlign="strech" fxLayout="column">


      <button mat-raised-button type="submit" color="primary" (click)="gotToADD()" >ADD DATA</button>
      <div class="space" ></div>
      <button mat-raised-button type="submit" color ="primary" (click)="gotToSearch()"  >SEARCH</button>
      <div class="space" ></div>
      <button mat-raised-button type="submit" color="primary" (click)="goToUpdate()" >UPDATE</button>
      <div class="space" ></div>
      <button mat-raised-button type="submit" color="primary" (click)="goToDeleteData()" >DELETE </button>

    </form>
  </mat-card>

</div>

